<section class="top-index p-5 row">
  <div class="search-form p-3 col-8">

    <h3>Ready for the next adventure?</h3><br>
    <form action="/results" method="POST">
      <div class="form-group row align-items-center">
        <div class="col-auto input-category">
          <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="start">
            <option value="">Where do you want to start...</option>
            {{#each cities}}
            <option value={{this}}>{{this}}</option>
            {{/each}}
          </select>
        </div>
      </div>

      {{#each categories}}
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" value={{this}} name="category">
        <label class="form-check-label" for={{this}}>{{this}}</label>
      </div>
      {{/each}}

      <br> <br>
      <button type="submit" class="btn btn-primary">Start search</button>
    </form>
  </div>
</section>

<section class="experiences-index p-5">
  <h3>Latest travels</h3>
  <div class="row p-3">
    {{#each threeNewest}}
    <div class="col-xs-3 col-md-3 text-center mb-4">
      <a href="/travel/{{this._id}}">
        <img src={{this.photos.[0]}} class="img-fluid rounded mb-1">
        <h6>{{this.title}}</h6>
      </a>
    </div>
    {{/each}}
    <div class="col-xs-3 col-md-3 text-center mb-4">
      <a href="/travel/add"><img src="/images/plus_icon.png" class="img-fluid rounded mb-1"></a>
      <h6>Add your own experience</h6>
    </div>
  </div>
</section>