<h2 class="text-center mt-4">Your travels</h2>

<hr class="mx-5">

<div class="row p-3">
  {{#each travels}}
  <div class="card mx-4 mb-4 light-green" style="width: 15rem;">
    <a href="/travel/{{this._id}}">
      <img src={{this.photos.[0]}} class="card-img-top"></a>
    <div class="card-body">
      <a href="/travel/{{this._id}}">
        <h6>{{this.title}}</h6>
        <button type="submit" class="btn btn-sm btn-primary"><a href="/travel/edit/{{this._id}}">Edit</a></button>
        <button type="submit" class="btn btn-sm btn-danger"><a href="/travel/delete/{{this._id}}">Delete</a></button>
      </a>
    </div>
  </div>
  {{/each}}
  <div class="card mx-4 mb-4 light-green" style="width: 15rem;">
    <a href="/travel/add"><img src="/images/plus_icon.png" class="card-img-top">
      <div class="card-body">
        <h6 class="card-title">Add new experience</h6>
      </div>
    </a>
  </div>
</div>